.App {
  text-align: center;
  align-items: block;
  /* display: flex; */
  flex-direction: block;
  /* position: relative; */
  /* background-color: #b4c0b8; */

}
.Login {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
 }
/*.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
}  

.flex-child:first-child {
  margin-right: 20px;
} 
.Content {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* height: fit-content; */
  display: inline-block;
  flex-direction: column;
  align-items: left;
  width: 80%;
  
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin);*/
}

.App-link {
  color: #61dafb;
}

.Widget {
  box-shadow: -10px 10px 5px grey;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  background-color: white;
  /* height: 70vh;  */
  /* border: 70vh; */
  /* border: black; */
  color: rgb(100, 52, 52);
  /* margin: 20px;
  padding: 20px;
   */
}

.Topic{
  display:-webkit-box
}
.sentiment{
  padding-top: 10px;
}
.Trend {
  /* color: #61dafb; */
  display: table-cell;
  box-shadow: -10px 10px 5px grey;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 25px;
  margin-left: 10px;
  overflow: hidden;
  
  /* width: 50vh; */
  /* flex-direction: row; */
  /* height: 200vh;  */
}

.row {
  display: inline-flex;
  flex-direction: row-reverse;
  /* width: 5vh; */
  height: 40vh;
  align-items: center;
  
}

/* .canvasjs-chart-container{
  height: 40vh;
 
} */

.emotions {
  /* width: 400px; */
  /* width: 40vh; */
  width: 606px;
  box-shadow: -10px 10px 5px grey;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 25px;
  box-sizing: border-box;
  margin-left: 10px;
  /* float: left; */
  /* height: 300px; */
  /* width: fit-content;  */
  box-sizing: border-box;
  /* height: fit-content; */
  /* border: 80vh; 
  border-color: solid black; */
  /* border: 3px solid black; */
  display: inline-block;/*
  
  flex-direction: row; */

  color: rgb(100, 52, 52);
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.menu {
  width: 36vh;
  /* height: 333vh; */
  height: 140vh;
  /* color:deeppink; */
  /* background-color: rgb(73, 129, 36); */
}
/* 
.App-header {
    size: 10vh;
    line-height: 10vh;
} */

.logo {
  /* background-color: rgb(106, 126, 185); */
  /* background-color: rgba(116, 16, 16, 0.952);  */
  background-image: url('./utils/banner.jpg');
  height: 118px;
  background-size: 100%;
  width: 100%;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column-reverse;
}

.body {
  text-align: center;
  align-items: row;
  display: flex;
  flex-direction: row;
  background-color: #c3c9d4;
  /* position: relative; */
}

/* .h1 {
  color: white;
  background-color: white;
  /* background-color: rgb(106, 126, 185); */
  /* border-color: deeppink; */
/*} */

.trends {
  /* width: 400px;*/
  /* height: 40vh;  size of the trend itself */
  /* display: inline;
  align-self: flex-end; */
  /* border: 80vh;  */
  padding-left: 35px;
  display: flex;
  flex-direction: row;
  /* border-color: solid black; */

  /* display: flex;
  flex-direction: row; */

  /* color: rgb(100, 52, 52); */
}
